body {
  image-rendering: pixelated;
  margin: 0;
}

#app {
  font-family: Avenir, Arial, sans-serif;
  text-align: center;
  color: #fff;
}

:focus {
  outline: none;
}

::selection {
  color: #fff;
  background: #000;
}

.ship {
  background-color: #fff;
  position: fixed;
  height: 2.5vw;
  width: 2.5vw;
  z-index: 15;
}

.game {
  background-color: #000;
  background-image: url('assets/B001.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.bullet {
  background-color: #f00;
  position: fixed;
  height: 1vw;
  width: 1vw;
  z-index: 2;
}
